<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <div class="form">
        <form action="#" id="form" class="form__body">
            <div class="form__item">
                <label for="formMessage" class="form__label">Do we need to change something?</label>
                <textarea name="feedback" id="formMessage" class="form__input"></textarea>
            </div>

            <div class="btn">
                <button type="submit" class="form__button">Submit</button>
                <button class="form__button">Scip</button>
            </div>
        </form>
        <!--<div class="btn__second">

        </div>-->
    </div>
    <script src="script.js"></script>
</div>
</body>
</html>



